Dokumentation/main.log
Dokumentation/main.bbl
Dokumentation/main.lol
Dokumentation/main.lof
Dokumentation/main.blg
Dokumentation/main.bcf
Dokumentation/main.out
Dokumentation/main.toc
Dokumentation/main.run.xml
Dokumentation/main.pdf
Dokumentation/main.synctex.gz
Dokumentation/main-blx.bib
Dokumentation/document.log
Dokumentation/document.pdf
Dokumentation/document.synctex.gz
Dokumentation/**/*.aux
