*.o
*.d
*.su
*.elf
*.bin
*.map
*.exe
*.mxproject
*.bin
*.launch
.settings/
Binary/
Release*/
Debug*/
../Dokumentation/main.log
../Dokumentation/main.aux
../Dokumentation/main.bbl
../Dokumentation/main.lol
../Dokumentation/main.lof
../Dokumentation/main.blg
../Dokumentation/main.bcf
../Dokumentation/main.out
../Dokumentation/main.toc
../Dokumentation/main.run.xml
